a {
  cursor: pointer;
}

p {
  text-align: justify;
}

.containerImg > img {
  position: relative;
}

.containerImg:hover {
  opacity: 0.5;
}

/* Media Queries */
@media all and (max-width: 992px) {
  .containerImg > img {
    width: 360px;
    height: 300px;
  }
}

@media all and (max-width: 768px) {
  .containerImg > img {
    width: 360px;
    height: 300px;
  }
  p {
    text-align: center !important;
  }

  h2,
  h6 {
    text-align: center;
  }
}

@media all and (max-width: 576px) {
  .containerImg > img {
    width: 360px;
    height: 300px;
  }
  p {
    text-align: center !important;
  }

  h2,
  h6 {
    text-align: center;
  }
}
